@charset "utf-8";

/* 코딩을 돕는 가이드라인 표기  */
div, article { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/*article {border: 1px solid aqua;}*/
/*section {border: 1px solid aqua;}*/
.container {border: 0px solid pink;}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');
@font-face {
    font-family: 'jalnanregular';
    src: url('jalnan-webfont.woff2') format('woff2'),
         url('jalnan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Layout */
body {width: 100%; overflow-x: hidden; }
#wrap {box-sizing: border-box;}
header {}
#gnb {
	position: fixed;
	top: -60px;
	width: 100%;
	z-index: 100;
}
#gnb nav {
	width: 1280px;
    height: 60px;
	margin: 0 auto;
}
article {
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; 
    position: relative; 
    width: 100%; 
	min-height: 900px;
}
section {   
    position: relative;
    width: 100%;
    box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.container {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}
.desc {}
.feat {}


/* Common */
body { 
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
  	color: #242424;
}
a:link, a:visited { color: #fff; text-decoration: none; }
::selection { color: #fff; background: #EA5419; }
::-moz-selection { color: #fff; background: #EA5419; /* Code for Firefox */ }
em { font-weight: 600; }



/* Font Design */
h2 { font-size: 18px; font-weight: 700; }
h3 {
	font-size: 15px;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 10px;
}


/* Common Design */
.bg-grey { background-color: #f9f9f9; border: 1px solid #f9f9f9; }
article .tit {}
article .tit h2 { 
    display: inline-block; 
/*    padding: 3px 0; */
	height: 10px;
    background-color: #fde03c; 
    font-size: 20px;   
    font-weight: 700; 	
	width: auto;
	margin-bottom: 10px;
}
article .tit h2 span { position: relative; top: -15px; }
article .tit h3 { font-size: 15px; line-height: 1.6; font-weight: 500; }


/* gnb */
#gnb { background-color: #3c3f48; }
#gnb nav {
	height: 60px;
	line-height: 60px;
	color: #fff;
}
#gnb nav ul {}
#gnb nav ul li { display: inline-block; }
#gnb nav ul li.active a { border-bottom: 2px solid #fbc317; }
#gnb nav ul li.active::before {
	content: '　';
	background-image: url(../img/icon-active.png);
	background-repeat: no-repeat;
	background-position: top right;
	clear: both;
}
#gnb nav ul li a { margin-right: 30px; }


/* article_01 : Intro */
#article_01 {
	background-image: url('../img/profile.jpg');
	background-repeat: no-repeat;
    background-position: center;
}
#article_01 .desc {
	display: inline-block;
	position: absolute;
	top: 530px;
	right: 50px;
	color: #fff;
	line-height: 1.5;
    text-align: right;
}
#article_01 .desc span {
	display: block;
	margin-bottom: 5px;
}



/* article_02 : Why */
#article_02 { /*border: 1px solid #fff;*/ }
#article_02 .container { text-align: center; }
#article_02 .container .greeting {
	margin-top: 283px;
	margin-bottom: 40px;
 	font-size: 30px;
	font-weight: 600; 
    font-family: 'jalnanregular' !important;
}
#article_02 .container .greeting h2 { position: relative; font-size: 15px; font-weight: 300; }
#article_02 .container .greeting h2 span {}
#article_02 .container .greeting h2 img {
	position: absolute;
	width: 100px;
    top: -60px; right: 420px;
/*	top: 235px;*/
/*	right: 455px;*/
}
#article_02 .container .greeting h1 {
	margin-top: 50px;
	line-height: 1.5;
}
#article_02 .container .hashtag {
	width: 900px;
	margin: 0 auto;
}
#article_02 .container .hashtag span {
	display: inline-block;
	margin: 5px 3px;
	padding: 7px 25px;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 500;
    border: 1px dashed #273052;
	border-radius: 20px;
    color: #273052;
}
#article_02 .container .hashtag a>span {
	background-color: #273052;
	color: #fff;
}
#article_02 .container .hashtag a span::before {
	content: '';
	display: inline-block;
	width: 17px;
	height: 16px;
	margin-right: 10px;
	background-image: url(../img/icon-tag.png);
	background-position: center;
	background-repeat: no-repeat;
}



/* article_03 : 사이트리뉴얼 */
#article_03 {}
#article_03 .section_01 { position: relative; height: 600px; }
#article_03 .section_01 .container {}
#article_03 .section_01 .container .tit { margin-top: 270px; width: 500px; }
#article_03 .section_01 .container .tit h2 { margin-top: 5px; }
#article_03 .section_01 .container .tit h3 {}
#article_03 .section_01 .container img.mockup {
	position: absolute;
/*	top: 147px;*/
    top: -50px;
	right: -160px;
	width: 800px;
}
#article_03 .section_02 { height: 1180px; }
#article_03 .section_02 .container img.mockup {
	position: absolute;
	top: 190px;
	left: 20px;
	width: 500px;
}
#article_03 .section_02 .container .cont {
	position: absolute;
	top: 280px;
	right: 0;
	width: 482px;
}
#article_03 .section_02 .container .cont .feat { margin-bottom: 70px; }
#article_03 .section_02 .container .cont .feat h3 {	display: table; }
#article_03 .section_02 .container .cont .feat h3 .img {
	display: table-cell;
	vertical-align: middle;
	width: 80px;
	text-align: center;
}
#article_03 .section_02 .container .cont .feat h3 .img img { max-width: 100%; }
#article_03 .section_02 .container .cont .feat h3 .desc { display: table-cell; vertical-align: middle; line-height: 1.5; }
#article_03 .section_02 .container .cont .feat h3 .img + .desc { padding-left: 20px; }




/* article_04 : 사이트운영*/
#article_04 {}
#article_04 .container {}
#article_04 .container .tit { margin-bottom: 80px; }
#article_04 .container .tit h2 { margin-top: 130px;}
#article_04 .container .tit h3 {}
#article_04 .container .slider_wrap { width: 1560px; }
#article_04 .container .slider {}
#article_04 .container .slider .slick-dots { position: relative; margin-left: -50px; }
#article_04 .container .slider .feat { padding-top: 20px; /* h2공간필요 */ }
#article_04 .container .slider .feat .desc { position: relative; display: inline-block; margin-left: 50px; }
#article_04 .container .slider .feat .desc h2 {
	position: absolute;
	top: -21px; 
	left: -25px;
	font-size: 30px;
	color: #fff;
	-webkit-text-stroke: 1px #000;
}
#article_04 .container .slider .feat .desc h3 { margin-top: -5px; }
#article_04 .container .slider .feat .desc h3 em { color: #eb5112; }
#article_04 .container .slider .feat img { display: inline-block; width: 350px; }



/* article_05 : 프로모션 디자인 */
#article_05 {}
#article_05 section {}
#article_05 .section_01 {
	position: relative;
	background-image: url("../img/bg-grey-wave.png");
	background-repeat: no-repeat;
	background-position: bottom;
}
#article_05 .section_01 .container {}
#article_05 .section_01 .container .tit { margin-top: 170px;}
#article_05 .section_01 .container .cont {
/*	position: relative;
	top: 550px;
	left: 120px;
	width: 1300px;
	margin: 0 auto;
	text-align: center;
    transform: rotate(15deg);
    -ms-transform: rotate(15deg); */ /* IE 9 */
    margin-top: 30px;
    padding: 20px 0 ;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
}
#article_05 .section_01 .container .cont img {
	width: 280px;
	margin-right: 15px;
	margin-bottom: 20px;
}
#article_05 .section_02 { height: 150px; }



/* article_06 : 상세페이지 */
#article_06 {}
#article_06 .section { position: relative; height: 900px;}
#article_06 .section .container {}
#article_06 .section .container .tit { position: absolute; top: 250px;	right: 130px; width: 480px; }
#article_06 .section .container .tit h3 { line-height: 1.75;}
#article_06 .section_01 .container .cont { position: relative; z-index: 10; }
#article_06 .section_01 .container .cont .feat {
	display: inline-block;
	position: absolute;
	width: 350px;
/*	border: 1px solid orange;*/
}
#article_06 .section_01 .container .cont .feat_01 { top: 290px; left: 170px; }
#article_06 .section_01 .container .cont .feat_02 { top: 430px; left: 580px; }

#article_06 .section_01 .container .cont .feat .desc { position: absolute; line-height: 1.5; font-weight: 400; }
#article_06 .section_01 .container .cont .feat .desc_01 { top: 452px; left: -150px; text-align: right; }
#article_06 .section_01 .container .cont .feat .desc_01:before {content: ''; display: block; position: absolute; width: 60px; top: 50%; right: -65px; border-bottom: 1px solid black; }
#article_06 .section_01 .container .cont .feat .desc_02 { top: 1360px; left: -175px; text-align: right; }
#article_06 .section_01 .container .cont .feat .desc_02:before {content: ''; display: block; position: absolute; width: 50px; top: 50%; right: -55px; border-bottom: 1px solid black; }
#article_06 .section_01 .container .cont .feat .desc_03 { top: 270px; right: -160px; }
#article_06 .section_01 .container .cont .feat .desc_03:before {content: ''; display: block; position: absolute; width: 80px; top: 50%; left: -85px; border-bottom: 1px solid black; }
#article_06 .section_01 .container .cont .feat .desc_04 { top: 1000px; right: -210px; }
#article_06 .section_01 .container .cont .feat .desc_04:before {content: ''; display: block; position: absolute; width: 80px; top: 50%; left: -85px; border-bottom: 1px solid black; }
#article_06 .section_01 .container .cont .feat .desc_05 { top: 1900px; right: -140px; }
#article_06 .section_01 .container .cont .feat .desc_05:before {content: ''; display: block; position: absolute; width: 60px; top: 50%; left: -65px; border-bottom: 1px solid black; }




/* article_07 : 광고 및 SNS배너 */
#article_07 {}
#article_07 .container {}
#article_07 .container .tit { margin-top: 150px; }
#article_07 .container .cont { margin: 50px auto; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black; padding: 20px 0; }
#article_07 .container .cont .feat { display: inline-block; }
#article_07 .container .cont .feat h3 { font-weight: 700; margin-bottom: 15px; }
#article_07 .container .cont .feat img { width: 280px;}




/* article_08 : Contact */
#article_08 { 
	background-image: url("../img/bg-farewell.png");
	background-repeat: no-repeat;
	background-position: center; 
}
#article_08::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
}
#article_08 .container { text-align: center; }
#article_08 .container .card { 
	position: relative;
	display: inline-block;
	margin-top: 350px;
	padding: 40px 80px;
	background-color: #000; 
	color: #fff;
	text-align: left;
	line-height: 26px;	
}
#article_08 .container .card .btn { 
	position: absolute;
	top: -35px;
	right: 0;
	width: 170px;
	height: 35px;
	border-radius: 50px 50px 0 50px;
	border: 1px solid #000;
	background-color: #000; 
	font-weight: 700;
}
#article_08 .container .card .btn img {
	width: 50px;
	position: absolute;
	left: -25px;
	bottom: 0;
}
#article_08 .container .card .btn h2 { text-indent: 35px; }
#article_08 .container .card p.farewell {
	position: absolute;
	top: -30px;
	left: 0;
	font-style: italic;
}
#article_08 .container .card p.msg { margin-bottom: 10px; font-weight: 600; }
#article_08 .container .card div.contact {}
#article_08 .container .card div.contact span { margin-right: 20px; }


.clear {clear: both;}


/* 반응형시작 */
/* 화면 너비 769px ~ 
@media (min-width: 769px){ 
	#wrap {width: 100%;	border: 1px dashed black;}
}
*/
